{% extends 'baseb.html.twig' %}

{% block main %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Add a New Recruiter Job</h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create a New Job</h5>

                        {{ form_start(form, {'attr': {'onsubmit': 'return validateForm(event)'}}) }}
                        
                        {% for field in form %}
                            <div class="mb-3">
                                {{ form_row(field, {'attr': {'class': 'form-control'}}) }}
                                {% for error in form_errors(field) %}
                                    <div class="alert alert-custom-error">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div id="error-container"></div> {# Container to display errors #}
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a href="{{ path('jobs_category_list') }}" class="btn btn-secondary">Back to the list</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
