{% extends 'baseb.html.twig' %}

{% block main %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Edit Category</h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Category</h5>

                        {{ form_start(form, {'attr': {'onsubmit': 'return validateForm(event)'}}) }}
                        
                        {% for field in form %}
                            <div class="mb-3">
                                {{ form_row(field, {'attr': {'class': 'form-control'}}) }}
                                {% for error in form_errors(field) %}
                                    <div class="alert alert-custom-error">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        
                        <div id="error-container"></div> {# Container to display errors #}
                        
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{{ path('jobs_category_list') }}" class="btn btn-secondary">Back to the list</a>
                        
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>

        {# Display additional errors not tied to form fields #}
        {% for error in form_errors(form) %}
            <div class="alert alert-custom-error">
                {{ error.message }}
            </div>
        {% endfor %}
    </main>
{% endblock %}
