{% extends 'base.html.twig' %}
{% set defaultEtatValue = '{{state}}' %}
{% block hero %}
  {% endblock %}
{% block main %}
<style>
    #main.main {
        padding: 100px;
    }
    #breadcrumbs {
        padding-top:100;
        padding-left: 150px;
        padding-right: 150px;
    }
</style>
  <section id="breadcrumbs" class="breadcrumbs">
        <div class="d-flex justify-content-between align-items-center"
          <h2>Postulation Submit</h2>
          <ol>
            <li><a href="{{ path('list_jobs')}}">Jobs</a>
            <li>{{ jobTitle }}</li>
          </ol>
        </div>
    </section>
  <main id="main" class="main">
  {% if errors is not empty %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <div class="pagetitle">
      <h1>Postulation</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
          <div class="card">
            <div class="card-body">
              <label for="inputPassword" class="col-sm-2 col-form-label">Job title</label>
              <input type="text" class="form-control" value="{{ jobTitle }}" disabled>
              <label for="inputPassword" class="col-sm-2 col-form-label">Date of postulation</label>
              <input type="date" class="form-control" value="{{ postulationDate|date('Y-m-d') }}" disabled>
              <label for="inputPassword" class="col-sm-2 col-form-label">Etat </label>
              {{ form_start(formPstulation) }}
              <input type="text" class="form-control" value="{{state}}" disabled>
              <div class="row mb-3">
                  {{ form_row(formPstulation.cover_letter, {'widget': 'textarea','attr': {'class': 'form-control', 'style': 'height: 200px'},'tag': 'textarea'}) }}
              </div>
                <div class="col-sm-10">
                {% if state == 'rejected' or state == 'approved' %}
                  <button type="submit" class="btn btn-primary" disabled>Submit Postulation</button>
                {% else %}
                  <button type="submit" class="btn btn-primary">Submit Postulation</button>
                {%endif %}
                </div>
              {{ form_end(formPstulation) }}
              <!-- End General Form Elements -->

            </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}

