{% extends 'base.html.twig' %}

{% block main %}
{% block hero %}
{% endblock %}
<style>
  .features{
    padding-top:200px;
  }
</style>
{% block categories %}
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Interviews</h2>
          <p>Here is a list of your Interviews </p>
        </div>
      <section class="section dashboard">
      
      <div class="row">

        <!-- Left side columns -->
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto"data-aos="fade-up">
                <div class="card-body">
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Recruiter</th>
                        <th scope="col">Interview Date</th>
                        <th scope="col">Interview link</th>
                        <th scope="col">Description</th>
                        <th scope="col">Etat</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for interview in interviews %}
                    <tr>
                        <th scope="row"><a href="{{ path( 'showinterview' ,{'id_i' : interview.id,'id_u' : idUser})}}">{{interview.id}}</a></th>
                        <td>{{interview.recruiter.getFullName()}}</td>
                        <td>{{interview.getInterviewDate()|date('Y-m-d') }}</td>
                        <td>{{interview.getInterviewLink()}}</td>
                        <td>{{interview.description|slice(0,50) }}</td>
                        {% if interview.etat == 'under consideration' or interview.etat == 'under_consideration' %}
                            <td class="green"><span class="badge bg-warning">{{ interview.etat }}</span></td>
                        {% elseif interview.etat == 'rejected' %}
                            <td class="green"><span class="badge bg-danger">{{ interview.etat }}</span></td>
                        {% elseif interview.etat == 'approved' %}
                            <td class="green"><span class="badge bg-success">{{ interview.etat }}</span></td>
                        {% else %}
                            {{ interview.etat }}
                        {% endif %}
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>
      </div>
    </section>
  {% endblock %}
{% endblock %}



