{% extends 'baseb.html.twig' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Interviews</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">List of Interviews </h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Freelancer</th>
                        <th scope="col">Interview Date</th>
                        <th scope="col">Interview link</th>
                        <th scope="col">Description</th>
                        <th scope="col">Etat</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for interview in interviews %}
                    <tr>
                        <th scope="row"><a href="{{ path( 'showinterview' ,{'id_i' : interview.id,'id_u' : idUser})}}">{{interview.id}}</a></th>
                        <td>{{interview.freelancer.getFullName()}}</td>
                        <td>{{interview.getInterviewDate()|date('Y-m-d') }}</td>
                        <td>{{interview.getInterviewLink()}}</td>
                        <td>{{interview.description|slice(0,50) }}</td>
                        {% if interview.etat == 'under consideration' or interview.etat == 'under_consideration' %}
                            <td class="green"><span class="badge bg-warning">{{ interview.etat }}</span></td>
                        {% elseif interview.etat == 'rejected' %}
                            <td class="green"><span class="badge bg-danger">{{ interview.etat }}</span></td>
                        {% elseif interview.etat == 'approved' %}
                            <td class="green"><span class="badge bg-success">{{ interview.etat }}</span></td>
                        {% else %}
                            {{ interview.etat }}
                        {% endif %}
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>

  </main>
  {% endblock %}