{% extends 'base.html.twig' %}

{% block title %}Related Jobs{% endblock %}

{% block jobs %}
    <section id="more-services" class="more-services">
        <div class="container">
            <div class="row">
                {% for relatedJob in relatedJobs %}
                    <div class="col-md-6 mb-4 d-flex align-items-stretch">
                        <div class="card" style='background-image: url("{{ asset('img/more-services-1.jpg') }}");' data-aos="fade-up" data-aos-delay="100">
                            <div class="card-body">
                                <h5 class="card-title">{{ relatedJob.title }}</h5>
                                <p class="card-text"><strong>Description:</strong> {{ relatedJob.description }}</p>
                                <p class="card-text"><strong>Deadline:</strong> {{ relatedJob.deadline ? relatedJob.deadline.format('Y-m-d') : '' }}</p>
                                <p class="card-text"><strong>Type:</strong> {{ relatedJob.type }}</p>
                                <p class="card-text"><strong>Salary:</strong> {{ relatedJob.salary }}</p>
                                <div class="read-more">
                                    <!-- Adjust the route as needed -->
                                    <a href="{{ path('postulate', {'idJob': relatedJob.id, 'idFreelancer': 2}) }}" class="btn btn-primary"><i class="bi bi-arrow-right"></i> Postulation</a>
                                    <!-- Adjust the route as needed -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
