{% extends 'baseb.html.twig' %}

{% block title %}Recruiter Job Details{% endblock %}

{% block main %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Recruiter Job Details</h1>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Job Details -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Recruiter Job Details</h5>

                            <dl class="row">
                                <dt class="col-sm-3">ID:</dt>
                                <dd class="col-sm-9">{{ job.id }}</dd>
                                <dt class="col-sm-3">Title:</dt>
                                <dd class="col-sm-9">{{ job.title }}</dd>
                                <dt class="col-sm-3">Description:</dt>
                                <dd class="col-sm-9">{{ job.description }}</dd>
                                <dt class="col-sm-3">Deadline:</dt>
                                <dd class="col-sm-9">{{ job.deadline ? job.deadline.format('Y-m-d') : '' }}</dd>
                                <dt class="col-sm-3">Type:</dt>
                                <dd class="col-sm-9">{{ job.type }}</dd>
                                <dt class="col-sm-3">Salary:</dt>
                                <dd class="col-sm-9">{{ job.salary }}</dd>
                                <dt class="col-sm-3">Category:</dt>
                                <dd class="col-sm-9">{{ job.category.categoryName }}</dd>
                            </dl>

                            <a href="{{ path('recruiter_job_list') }}" class="btn btn-primary">Back to the list</a>
                        </div>
                    </div>
                </div><!-- End Job Details -->

            </div>
        </section>

    </main>
{% endblock %}
