
{% extends 'baseb.html.twig' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Training</h1>
    </div><!-- End Page Title -->
{{ form_start(formA,{attr:{novalidate:'novalidate'}}) }}

    <section class="section">
      <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Let's Add Training</h5>

              <!-- General Form Elements -->
              <label for="inputPassword" class="col-sm-2 col-form-label">TITLE</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.title, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.title, {'attr': {'class': 'text-danger'}}) }}
                </div>
                

              <label for="inputPassword" class="col-sm-2 col-form-label">DESCRIPTION</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.description, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.description, {'attr': {'class': 'text-danger'}}) }}
                </div>

              <label for="inputPassword" class="col-sm-2 col-form-label">START DATE</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.start_date, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.start_date, {'attr': {'class': 'text-danger'}}) }}
                </div>

              <label for="inputPassword" class="col-sm-2 col-form-label">END DATE</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.end_date, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.end_date, {'attr': {'class': 'text-danger'}}) }}
                </div>

              <label for="inputPassword" class="col-sm-2 col-form-label">NUMBER OF PLACES</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.number_of_places, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.number_of_places, {'attr': {'class': 'text-danger'}}) }}
                </div>
              <label for="inputPassword" class="col-sm-2 col-form-label">CATEGORY</label>
              <div class="col-sm-10">
                  {{ form_widget(formA.category, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formA.category, {'attr': {'class': 'text-danger'}}) }}
                </div>

             

             <button type="submit" class="btn btn-primary">Submit Training</button>
              
{{ form_end(formA) }}

            </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}