
{% extends 'baseb.html.twig' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>List Of Trainer</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">List of Trainer</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">start date</th>
                        <th scope="col">end date</th>
                        <th scope="col">NumberOfPlaces</th>
                        <th scope="col">trainer</th>
                        <th scope="col">category</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for training in trainings %}
                    <tr>
    <td><a href="{{ path( 'showtraining' , {'id' : training.id})}}">{{training.id}}</a></td>
    <td>{{training.title}}</td>
    <td>{{training.description}}</td>
    <td>{{training.getStartDate()|date('Y-m-d')}}</td>
    <td>{{training.getEndDate()|date('Y-m-d')}}</td>
    <td>{{training.getNumberOfPlaces()}}</td>
    <td>{{training.trainer.getFullName()}}<td>
    <td>{{training.category.getCategoryName()}}<td>

    <td><a href="{{ path( 'deletetraining' , {'id' : training.id})}}" >Delete Training</a></td>
    <td><a href="{{ path( 'edit' , {'id' : training.id})}}" >Edit Training</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>

  </main>
  {% endblock %}

