{% extends 'baseb.html.twig' %}
{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>LIST OF TRAININGS</h1>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Boutons d'action -->
      <div class="col-12 mb-3">
        <div class="btn-group" role="group" aria-label="Actions">
          <form action="{{ path('search_training') }}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="SEARCH BY TITLE OF TRAINING">
              <button class="btn btn-primary" type="submit">SEARCH</button> 
            </div>
          </form>
        </div>
      </div>

      <!-- Liste des formations -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <h5 class="card-title">LIST OF TRAININGS</h5>
            <a href="{{ path('addtraining') }}" class="btn btn-success" style="background-color: #F4D03F;">ADD TRAINING</a>

            <table class="table table-borderless datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">DESCRIPTION</th>
                  <th scope="col">START-DATE</th>
                  <th scope="col">END-DATE</th>
                  <th scope="col">NUBER OF PLACE</th>
                  <th scope="col">TRAINER</th>
                  <th scope="col">CATEGORY</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for training in trainings %}
                <tr>
                  <td>{{ training.id }}</td>
                  <td>{{ training.title }}</td>
                  <td>{{ training.description }}</td>
                  <td>{{ training.startDate|date('Y-m-d') }}</td>
                  <td>{{ training.endDate|date('Y-m-d') }}</td>
                  <td>{{ training.numberOfPlaces }}</td>
                  <td>{{ training.trainer.getFullName() }}</td>
                  <td>{{ training.category.getCategoryName() }}</td>
                  <td>
                    <a href="{{ path('show_training', {'id': training.id}) }}" class="btn btn-info" style="background-color: #3498db;">SHOW</a> <!-- Bouton Afficher en bleu -->
                    <a href="{{ path('edit', {'id': training.id}) }}" class="btn btn-primary" style="background-color: #0A79DF;">UPDATE</a> <!-- Bouton Modifier en bleu -->
                    <a href="{{ path('deletetraining', {'id': training.id}) }}" class="btn btn-danger" style="background-color: #FF5733;">DELETE</a> <!-- Bouton Supprimer en rouge -->
                    
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            
            <a href="{{ path('generate_pdf') }}" class="btn btn-success" style="background-color: #28B463;">GENERATE PDF</a>
            <a href="{{ path('generate_csv') }}" class="btn btn-success" style="background-color: #FF5733;">GENERATE CSV</a>


          </div>
        </div>
      </div><!-- End Liste des formations -->

    </div>
  </section>

</main>
{% endblock %}
